<elementProp name="{{ arg_name }}" elementType="HTTPArgument">
  <boolProp name="HTTPArgument.always_encode">false</boolProp>
  <stringProp name="Argument.value">{{ arg_value }}</stringProp>
  <stringProp name="Argument.metadata">=</stringProp>
  <boolProp name="HTTPArgument.use_equals">true</boolProp>
  <stringProp name="Argument.name">{{ arg_name }}</stringProp>
</elementProp>
